[Desktop Entry]
Type=Application
Name=Administrador MV
Exec=cd RUTAEDITAR&&/usr/bin/python main.py
Comment=Proyecto Oscar
Categories=Utility;
Terminal=false
